<?xml version="1.0" encoding="UTF-8"?>
<settings>
   <interactiveMode>false</interactiveMode>
   <profiles>
      <!-- generic ############################################################# -->
      <profile>
         <id>_properties_</id>
         <activation>
            <activeByDefault>false</activeByDefault>
         </activation>
         <properties />
      </profile>
      <!-- sonatype ############################################################# -->
      <profile>
         <id>_sonatype-snapshots_</id>
         <activation>
            <activeByDefault>false</activeByDefault>
         </activation>
         <repositories>
            <repository>
               <id>sonatype-snapshots</id>
               <url>https://oss.sonatype.org/content/repositories/snapshots</url>
               <releases>
                  <enabled>false</enabled>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
               </snapshots>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>sonatype-snapshots</id>
               <url>https://oss.sonatype.org/content/repositories/snapshots</url>
               <releases>
                  <enabled>false</enabled>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
               </snapshots>
            </pluginRepository>
         </pluginRepositories>
      </profile>
      <!-- artifactory ################################################################## -->
      <profile>
         <id>_artifactory_</id>
         <properties>
            <jfrogorgname/>
         </properties>
         <activation>
            <activeByDefault>false</activeByDefault>
         </activation>
         <repositories>
            <repository>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
               <id>central</id>
               <name>libs-release</name>
               <url>https://${jfrogorgname}.jfrog.io/${jfrogorgname}/libs-release</url>
            </repository>
            <repository>
               <snapshots />
               <id>snapshots</id>
               <name>libs-snapshot</name>
               <url>https://${jfrogorgname}.jfrog.io/${jfrogorgname}/libs-snapshot</url>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
               <id>central</id>
               <name>libs-release</name>
               <url>https://${jfrogorgname}.jfrog.io/${jfrogorgname}/libs-release</url>
            </pluginRepository>
            <pluginRepository>
               <snapshots />
               <id>snapshots</id>
               <name>libs-snapshot</name>
               <url>https://${jfrogorgname}.jfrog.io/${jfrogorgname}/libs-snapshot</url>
            </pluginRepository>
         </pluginRepositories>
      </profile>
   </profiles>
   <servers />
</settings>
