<?xml version="1.0" encoding="UTF-8"?>
<settings>
   <interactiveMode>false</interactiveMode>
   <profiles>
      <!-- generic ############################################################# -->
      <profile>
         <id>_properties_</id>
         <activation>
            <activeByDefault>false</activeByDefault>
         </activation>
         <properties />
      </profile>
      <!-- sonatype ############################################################# -->
      <profile>
         <id>_sonatype-snapshots_</id>
         <activation>
            <activeByDefault>false</activeByDefault>
         </activation>
         <repositories>
            <repository>
               <id>sonatype-snapshots</id>
               <url>https://oss.sonatype.org/content/repositories/snapshots</url>
               <releases>
                  <enabled>false</enabled>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
               </snapshots>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>sonatype-snapshots</id>
               <url>https://oss.sonatype.org/content/repositories/snapshots</url>
               <releases>
                  <enabled>false</enabled>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
               </snapshots>
            </pluginRepository>
         </pluginRepositories>
      </profile>
   </profiles>
   <servers />
   <mirrors />
</settings>
