name: "Test"
on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/*'
  schedule:
    - cron: '22 22 * * 5'

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1

    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - uses: actions/setup-java@v1
      with:
        java-version: '1.8'

    - run: npm version
    - run: npm ci
    - run: npm test

    - uses: ./
      with:
        servers:    '[{"id": "serverId", "username": "username", "password": "password"}]'
        properties: '[{"prop1": "value1"}, {"prop2": "value2"}]'
        mirrors:    '[{"id": "mirrorId", "name": "mirrorName", "mirrorOf": "mirrorOf", "url: "mirrorUrl"}]'
        sonatypeSnapshots: true

    - run: cat ~/.m2/settings.xml
      shell: bash
