name: Test
on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'
  schedule:
    - cron: '22 22 * * 5'

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-node@v4
      with:
        node-version: '24.x'

    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'


    - run: npm version
    - run: npm ci
    - run: npm test

    - uses: ./
      with:
        servers:    '[{"id": "serverId", "username": "username", "password": "password"}]'
        properties: '[{"prop1": "value1"}, {"prop2": "value2"}]'
        mirrors:    '[{"id": "mirrorId", "name": "mirrorName", "mirrorOf": "mirrorOf", "url": "mirrorUrl"}]'
        apacheSnapshots: true
        sonatypeSnapshots: true
        oracleServers: '[{"id": "oServerId", "username": "oUsername", "password": "oPassword"}]'
        oracleRepo: true

    - run: cat ~/.m2/settings.xml
      shell: bash
